.degree {
  &__button {
    @apply relative w-12 h-7 border rounded-3xl cursor-pointer transition-all duration-300;

    &.-dark {
      @apply border-blue-200;

      span {
        @apply bg-blue-200 text-blue-800;
      }
    }

    &.-light {
      @apply border-blue-800;

      span {
        @apply bg-blue-800 text-blue-200;
      }
    }

    span {
      content: "";
      @apply w-5 h-5 rounded-full font-bold text-xs;
      @apply flex items-center justify-center select-none;
      @apply absolute top-1/2 transform -translate-y-1/2 transition-all duration-300;

      &.-celsius {
        left: 5%;
      }

      &.-kelvin {
        left: calc(95% - 1.25rem);
      }
    }
  }
}